<h1>Sign in page</h1>

<form action="/user/creatSession" method="post">
    <input type="text" name="name" placeholder="Enter Username" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="button" value="Sign In">

</form>
